<div class="page">
    <h1 class="header">About Me</h1>

    <div class="container">
        <div class="image">
            <!-- Pic of Clare -->
            <!-- <img class="image" src="../../assets/imgs/clareHeadShot.jpeg"> -->
        </div>
        <div>
            <!-- Info for Clare -->
            <div class="text">
                <p>
                    Hello! This is Josiah's About Page! Click on the icons below to go to my Linked In profile and my
                    Resume.
                </p>

                <div>
                    <!-- <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">
                    <img src="/../../assets/icons/github.svg" alt="Git Hub Icon" style="width:24px;height:24px" />
                </a> -->

                    <!-- the img tag below uses an svg file in the assets folder.  I could not find this icon in the material design library.-->
                    <a href="https://www.linkedin.com/in/josiah-ryan-b57813205/" target="_blank">
                        <img src="/../../assets/icons/linkedin.svg" class="icon" alt="Linked In Icon" />
                    </a>
                    <!-- "https://drive.google.com/file/d/1nSB1rVC4IAsiIHa_5OwEPIhCAEz8y4Wh/view?usp=sharing" clare's link -->
                    <!-- https://docs.google.com/document/d/14bFT6thfcjoSUSEmHqrQqb4NqSzB7GLYpM9z68EcAXI/view?usp=sharing -->
                    <a href="https://docs.google.com/file/d/14bFT6thfcjoSUSEmHqrQqb4NqSzB7GLYpM9z68EcAXI/view?usp=sharing"
                        target="_blank">
                        <mat-icon class="icon" alt="Resume Icon">assignment</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>